.forgot-password {
    padding-bottom: 55px;
}
.forgot-password__header {
    margin-bottom: 40px;
}
.forgot-password__subtitle {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Montserrat-600";
}
@media (max-width: 991px) {
    .forgot-password {
        padding-bottom: 40px;
    }
    .forgot-password__subtitle {
        font-size: 15px;
    }
}
@media (max-width: 767px) {
    .forgot-password {
        padding-bottom: 30px;
    }
    .forgot-password__header {
        text-align: center;
    }
    .forgot-password__subtitle {
        font-size: 12px;
    }
    .forgot-password__form .form__input {
        margin: 0 auto;
    }
}