*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease 0s;
}
a:hover {
    color: #f33238;
}

ul,
ol,
li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    /* vertical-align: top; */
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

html,
body {
    height: 100%;
    font-size: 14px;
    line-height: 1.25;
    color: #000;
    background-color: #fcfcfc;
    font-family: "Montserrat-400";
}

html.fixed {
    overflow: hidden;
}

.content {
    flex: 1 0 auto;
    padding-top: 177px;
}
@media (max-width: 991px) {
    .content {
        padding-top: 71px;
    }
}
@media (max-width: 767px) {
    .content {
        padding-top: 54px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
}
@media (max-width: 991px) {
    .container {
        padding: 0 10px;
    }
}

/* Swiper */
.swiper-pagination-bullet {
    width: 17px;
    height: 17px;
    border-radius: 0;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.15);
    margin: 0 6px !important;
}
.swiper-pagination-bullet-active {
    background: #000000;
}
.swiper-button-next,
.swiper-button-prev {
    top: auto;
    bottom: 0;
    z-index: 100;
    color: #000;
    outline: none;
}
.swiper-button-next {
    left: 62%;
    transform: translate(-50%);
}
.swiper-button-prev {
    left: 38%;
    transform: translate(-50%);
}
.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}
@media (max-width: 767px) {
    .swiper-button-next {
        left: 66%;
    }
    .swiper-button-prev {
        left: 34%;
    }
}
@media (max-width: 567px) {
    .swiper-button-next {
        left: 76%;
    }
    .swiper-button-prev {
        left: 24%;
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        margin: 0 4px !important;
    }
    .swiper-pagination-bullets {
        bottom: 13px !important;
    }
}

/* Animation */
.anim-show {
    transform: translate(0px, 120%);
    transition: all 0.8s ease 0s;
    opacity: 0;
}
.anim-show.is-active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.anim-scale {
    transform: scale(0.7);
    transition: all 0.8s ease 0s;
}
.anim-scale.is-active {
    transform: scale(1);
}

/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-transform: uppercase;
    padding: 35px 0 40px;
    border-bottom: 1px solid #c4c4c4;
}
.header--gray {
    background-color: #f4f4f4;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    white-space: nowrap;
}
.header-top__list {
    display: flex;
    align-items: center;
}
.header-top > * {
    margin-right: 30px;
}
.header-top__item {
    font-family: "Montserrat-500";
    margin-right: 23px;
}
.header-top__item:last-child {
    margin-right: 0;
}
.header-top__search {
    max-width: 314px;
    width: 100%;
    position: relative;
}
.header-top__row {
    display: flex;
    align-items: center;
}
.header-top__row:last-child {
    margin-right: 0;
}
.header-top__phone,
.header-top__location {
    display: flex;
    align-items: center;
    font-family: "Montserrat-600";
}
.header-top__phone {
    margin-right: 15px;
}
.header-top__icon {
    font-size: 11px;
    margin-right: 5px;
}
.header-top__img {
    font-size: 22px;
}
.header-top__basket {
    margin: 0 30px;
    position: relative;
}
.header-top__count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2px;
    right: -3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    font-family: "Montserrat-700";
}
.header-main__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-main__item {
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease 0s;
    opacity: 0.75;
    margin-top: 20px;
}
.header-main__item:hover {
    border-bottom: 1px solid #f33238;
}
.header-main__item .active {
    border-bottom: 1px solid #f33238;
}
.header-mobile {
    padding: 10px 0;
    display: none;
    background-color: #fff;
    margin: 0 -10px;
}
.header-mobile__logo {
    flex-shrink: 0;
}
.header-mobile .header-top__img {
    font-size: 27px;
}
.header-mobile .header-top__search {
    margin-left: 20px;
}
.header-mobile .header-top__basket {
    margin: 0 20px;
}
.header-mobile__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.header__block {
    display: flex;
    align-items: center;
}
@media (max-width: 1139px) {
    .header-main__item {
        font-size: 12px;
    }
}
@media (max-width: 991px) {
    .header {
        position: fixed;
    }
    .header-top,
    .header-main {
        display: none;
    }
    .header {
        padding: 0;
    }
    .header-mobile {
        display: block;
    }
}
@media (max-width: 767px) {
    .header-mobile__logo img {
        width: 31px;
    }
}

/* Menu */
.mobile--open .mobile__content {
    display: block;
    z-index: 100;
    animation: opacity linear 0.2s forwards;
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.mobile__content {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    overflow: auto;
    display: none;
}
.mobile__block {
    padding: 20px 0 15px;
    margin: 0 12px;
    border-bottom: 1px solid #c4c4c4;
}
.mobile__block:last-child {
    border-bottom: 0;
}
.mobile-nav__link {
    font-size: 16px;
    font-family: "Montserrat-700";
    text-transform: none;
    padding: 10px 0;
}
.mobile-menu__link {
    padding: 10px 0;
}
.mobile-contacts__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.mobile-contacts__link {
    display: flex;
    align-items: center;
    font-family: "Montserrat-600";
    margin: 0 7px;
}
.mobile-icon__list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-icon__link {
    margin: 0 27px;
}
.mobile-icon__img {
    font-size: 24px;
}
@media (max-width: 767px) {
    .mobile__content {
        top: 58px;
    }
}

/* Cэндвич */
.sandwich {
    cursor: pointer;
    height: 20px;
    position: relative;
    width: 26px;
}
.sandwich__line {
    background-color: #000000;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all linear 0.2s;
    width: 100%;
}
.sandwich__line--top {
    top: 0;
}
.sandwich__line--middle {
    top: 8px;
}
.sandwich__line--bottom {
    top: 16px;
}
.sandwich.is-active .sandwich__line--top {
    top: 8px;
    transform: rotate(45deg);
}
.sandwich.is-active .sandwich__line--middle {
    opacity: 0;
}
.sandwich.is-active .sandwich__line--bottom {
    top: 8px;
    transform: rotate(-45deg);
}

/* Form */
.form__row {
    display: flex;
    align-items: center;
}
.form__item {
    max-width: 563px;
    width: 100%;
    position: relative;
    padding-bottom: 20px;
    margin-right: 60px;
}
.form__item:last-of-type {
    margin-right: 0;
}
.form__item label.error {
    position: absolute;
    left: 0;
    bottom: 5px;
    font-size: 12px;
    color: #f33238;
}
.form__input {
    width: 100%;
    font-size: 14px;
    letter-spacing: 0.09em;
    padding: 7px 10px 17px 10px;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #000;
}
.form__input--search {
    padding: 7px 40px 7px 10px;
}
.form__input::placeholder {
    color: #000;
    font-family: "Montserrat-300";
    text-transform: uppercase;
}
.form__search {
    width: 27px;
    height: 27px;
    position: absolute;
    right: 5px;
    bottom: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
.form__icon {
    transition: all 0.2s ease 0s;
}
.form__buttons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.form__icon:hover {
    transform: scale(1.2);
}
.form__button {
    max-width: 248px;
    width: 100%;
    margin-top: 30px;
}
.form__button:nth-child(1) {
    margin-right: 15px;
}
.form__descr {
    font-size: 12px;
    font-family: "Montserrat-300";
    margin-top: 20px;
}
.form__label {
    display: block;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    margin: 30px 0 20px;
}
.form__link {
    display: inline-block;
    line-height: 1.8;
    opacity: 0.75;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}
.form__link:hover {
    border-color:  #f33238;
} 
@media (max-width: 767px) {
    .form__button {
        margin: 30px auto 0;
    }
    .form__buttons {
        justify-content: center;
    }
}
@media (max-width: 567px) {
    .form__row {
        display: block;
    }
    .form__item {
        padding-bottom: 15px;
        margin-right: 0;
    }
    .form__item label.error {
        font-size: 10px;
        bottom: 2px;
    }
    .form__input {
        font-size: 12px;
        padding: 17px 10px 7px 10px;
    }
    .form__label {
        font-size: 12px;
        margin: 20px 0 10px;
    }
}

/* Button */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 59px;
    font-size: 14px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.75);
    outline: none;
    cursor: pointer;
    padding: 0 10px;
    white-space: nowrap;
    background: transparent;
    transition: color 0.2s, background 0.2s, opacity 0.2s;
}
.btn:hover {
    color: #fff;
    background: #000;
}
.btn:active {
    opacity: 0.8;
    transform: scale(0.95);
}
.btn--black {
    color: #fff;
    background: #000000;
}
.btn--black:hover {
    color: #000;
    background: transparent;
}
@media (max-width: 767px) {
    .btn {
        height: 44px;
        font-size: 12px;
    }
}

/* Title */
.title {
    font-size: 40px;
    line-height: 1.5;
    font-family: "Montserrat-500";
    margin-bottom: 30px;
}
.title span {
    font-family: "Montserrat-300";
}
.title--light {
    font-family: "Montserrat-300";
}
.title-h3 {
    font-size: 30px;
    font-family: "Montserrat-500";
    margin-bottom: 20px;
}
.title-h3 span {
    font-family: "Montserrat-300";
}
@media (max-width: 991px) {
    .title {
        font-size: 30px;
        margin-bottom: 25px;
    }
    .title-h3 {
        font-size: 24px;
    }
}
@media (max-width: 767px) {
    .title {
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
    }
    .title-h3 {
        font-size: 18px;
    }
}

/* Text */
.text {
    line-height: 1.5;
    color: #3f3f3f;
}

/* Product */
.product__header {
    overflow: hidden;
    position: relative;
}
.product__payot {
    position: absolute;
    top: 15px;
    left: 7px;
    z-index: 1;
}
.product__zont {
    position: absolute;
    top: 17px;
    right: 30px;
    z-index: 1;
}
.product__action {
    position: absolute;
    top: 25px;
    right: 0;
    font-size: 10px;
    transform: rotate(90deg);
    z-index: 1;
}
.product__img {
    width: 100%;
    transition: all 0.2s ease 0s;
}
.product__img:hover {
    transform: scale(1.1);
}
.product__body {
    height: 120px;
    letter-spacing: 0.09em;
    font-family: "Montserrat-300";
    text-align: center;
    padding: 30px 15px;
}
.product__name {
    text-transform: uppercase;
}
.product-size,
.product-price {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.product-size__small {
    font-family: "Montserrat-300";
    padding: 0 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.product-size__big {
    font-family: "Montserrat-600";
    padding: 0 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}
.product-price__old {
    font-family: "Montserrat-300";
    text-decoration-line: line-through;
    padding: 0 10px;
}
.product-price__new {
    font-size: 18px;
    font-family: "Montserrat-600";
    opacity: 1;
    padding: 0 10px;
}
.product__bottom {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.product__button {
    max-width: 100%;
    width: 100%;
}
.product__icon {
    font-size: 22px;
    margin-left: 24px;
    cursor: pointer;
}
.product__icon:hover {
    color: #f33238;
}
.product__arrow {
    font-size: 12px;
}
.product__arrow:hover {
    color: #f33238;
}
@media (max-width: 567px) {
    .product__payot {
        top: 10px;
        left: 0;
        height: 18px;
    }
    .product__zont {
        height: 25px;
    }
    .product__action {
        font-size: 8px;
    }
    .product__body {
        height: 110px;
        font-size: 12px;
        padding: 15px 10px;
    }
    .product__footer {
        font-size: 12px;
    }
    .product-price__new {
        font-size: 16px;
    }
    .product__icon {
        margin-left: 10px;
    }
    .product__arrow {
        font-size: 8px;
    }
}

/* Action */
.action__img-wrapper {
    overflow: hidden;
}
.action__img {
    transition: all 0.2s ease 0s;
}
.action__img:hover {
    transform: scale(1.1);
}
.action__info {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 15px 15px;
    text-align: center;
}
.action__text {
    font-size: 16px;
    letter-spacing: 0.09em;
    margin-bottom: 30px;
}
.action__button {
    max-width: 266px;
    width: 100%;
    margin: 0 auto;
}
.action__text span {
    color: #f33238;
    font-family: "Montserrat-900";
}
.action__date {
    text-transform: uppercase;
    font-family: "Montserrat-300";
    opacity: 0.75;
    margin-bottom: 17px;
}
@media (max-width: 767px) {
    .action__info {
        padding-top: 20px;
    }
    .action__text {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .action__date {
        font-size: 12px;
        margin-bottom: 17px;
    }
}

/* Footer */
.footer {
    font-size: 16px;
    background: #f4f4f4;
    padding: 117px 0 110px;
}
.footer-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 96px;
}
.footer-top__col--center {
    max-width: 445px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-top__link {
    padding: 9px 0;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
}
.footer-bottom__col--center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 480px;
    width: 100%;
}
.footer-bottom__copyright {
    color: #333333;
    opacity: 0.75;
    font-family: "Montserrat-300";
    position: relative;
}
.footer-bottom__copyright::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -10px;
    background: rgba(0, 0, 0, 0.5);
}
.footer-bottom__list {
    display: flex;
    align-items: center;
}
.footer-bottom__icon {
    font-size: 34px;
    margin: 0 8px;
}
@media (max-width: 1139px) {
    .footer-top__col--center {
        max-width: 400px;
    }
    .footer-bottom__col--center {
        max-width: 420px;
    }
}
@media (max-width: 991px) {
    .footer {
        padding: 80px 0 60px;
    }
    .footer-top {
        padding-bottom: 60px;
    }
    .footer-top__col--center {
        display: block;
        width: auto;
    }
    .footer-bottom__col--center {
        flex-direction: column-reverse;
        width: auto;
    }
}
@media (max-width: 767px) {
    .footer {
        padding: 60px 0;
    }
    .footer-top {
        flex-wrap: wrap;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    .footer-top__col:nth-child(3) {
        width: 100%;
    }
    .footer-top__list--row {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 -10px;
        padding-top: 10px;
    }
    .footer-top__list--row > * {
        margin: 0 10px;
    }
    .footer-bottom {
        flex-wrap: wrap;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }
    .footer-bottom__col--center {
        width: 100%;
        order: 3;
        flex-direction: row;
        margin-top: 20px;
    }
}
@media (max-width: 567px) {
    .footer-bottom {
        flex-direction: column;
    }
    .footer-bottom__col--center {
        flex-direction: column-reverse;
        order: 0;
        max-width: 100%;
    }
    .footer-bottom__copyright {
        margin: 20px 0 40px;
    }
}
@media (max-width: 413px) {
    .footer {
        font-size: 12px;
        padding: 40px 0;
    }
}

/* Хлебные крошки */
.breadcrumbs {
    padding: 58px 0 48px;
}
.breadcrumbs__list {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    letter-spacing: 0.09em;
}
.breadcrumbs__link {
    font-family: "Montserrat-600";
    border-bottom: 1px solid transparent;
    margin-right: 20px;
    position: relative;
}
.breadcrumbs__link::after {
    position: absolute;
    content: ">";
    right: -15px;
    top: 0px;
    font-family: "Montserrat-400";
}
.breadcrumbs__link:hover {
    border-bottom: 1px solid #f33238;
}
.breadcrumbs__current {
    font-family: "Montserrat-300";
}
@media (max-width: 991px) {
    .breadcrumbs {
        padding: 40px 0;
    }
}
@media (max-width: 767px) {
    .breadcrumbs {
        padding: 30px 0;
    }
    .breadcrumbs__list {
        justify-content: center;
    }
}
@media (max-width: 567px) {
    .breadcrumbs__list {
        font-size: 12px;
    }
}
@media (max-width: 413px) {
    .breadcrumbs__list {
        font-size: 10px;
    }
    .breadcrumbs__current {
        max-width: 300px;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

/* Пагинация*/
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
.pagination > * {
    margin: 0 20px;
}
.pagination__list {
    display: flex;
    align-items: center;
}
.pagination__link {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 0 5px;
    background-color: transparent;
    transition: all 0.2s ease 0s;
}
.pagination__link:hover {
    color: #fff;
    background-color: #000;
}
.pagination__link.active {
    color: #fff;
    background-color: #000;
}
.pagination__icon {
    font-size: 12px;
}
@media (max-width: 567px) {
    .pagination {
        padding: 0;
    }
    .pagination > * {
        margin: 0 10px;
    }
    .pagination__link {
        width: 25px;
        height: 25px;
        font-size: 14px;
    }
    .pagination__icon {
        font-size: 8px;
    }
}

/* Рейтинг звезд */
.rating {
    display: flex;
    align-items: center;
}
.rating__inner {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.rating__inner > * {
    margin-right: 6px;
}
.rating__inner--big {
    font-size: 22px;
}
.rating__inner--big > * {
    margin-right: 12px;
}
.rating__item {
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.2s ease 0s;
}
.rating__item:first-child {
    margin-right: 0;
}
.rating__item:hover,
.rating__item:hover ~ .rating__item {
    color: rgba(0, 0, 0, 1);
}
.rating__item--current,
.rating__item--current ~ .rating__item {
    color: rgba(0, 0, 0, 1);
}

.rating__text {
    font-size: 16px;
    font-family: "Montserrat-600";
    margin-left: 17px;
}

/* Radio */
.radio {
    display: block;
    position: relative;
    user-select: none;
    cursor: pointer;
}
.radio__custom {
    flex: 0 0 286px;
    width: 286px;
    height: 210px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin-right: 38px;
    padding: 32px 30px 27px 30px;
    transition: all 0.2s ease 0s;
}
.radio__custom--center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.radio:hover .radio__custom {
    color: #fff;
    background-color: #000;
}
.radio__input {
    display: none;
    position: absolute;
    cursor: pointer;
}
.radio__input:checked ~ .radio__weight {
    font-family: "Montserrat-600";
}
.radio__input:checked ~ .radio__custom {
    color: #fff;
    background-color: #000;
}
.radio__weight {
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: "Montserrat-300";
    text-decoration: underline;
    opacity: 0.75;
    margin: 0 5px;
}
.radio__name {
    font-family: "Montserrat-600";
    margin-bottom: 25px;
}
.radio__location {
    position: relative;
    padding-left: 20px;
    margin-bottom: 25px;
}
.radio__phone {
    position: relative;
    padding-left: 23px;
}
.radio__icon {
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 12px;
}
.radio__text {
    font-size: 14px;
    line-height: 1.5;
}
.radio__plus {
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
}
.radio__descr {
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}
.radio__line {
    display: flex;
    align-items: baseline;
}
.radio__free {
    margin-right: 5px;
}
.radio__map {
    opacity: 0.75;
    text-decoration: underline;
}
@media (max-width: 1139px) {
    .radio__custom {
        flex: 0 0 260px;
        width: 260px;
        margin-right: 20px;
    }
}
@media (max-width: 991px) {
    .radio__custom {
        flex: 1;
        width: 100%;
        margin-right: 0;
        padding: 32px 20px 27px 20px;
    }
}

/* Counter */
.counter {
    display: flex;
    font-family: "Montserrat-600";
}
.counter--center {
    justify-content: center;
}
.counter__btn {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 2px;
    outline: none;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}
.counter__value {
    width: 40px;
    height: 30px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
}

/* Крестик */
.close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: transform 0.2s, opacity 0.2s;
    z-index: 10;
    cursor: pointer;
    outline: none;
}
.close:hover {
    transform: scale(1.1);
}
.close:hover.close:hover::before,
.close:hover.close:hover::after {
    background-color: #f33238;
}
.close:active {
    transform: scale(0.9);
    opacity: 0.8;
}
.close::before,
.close::after {
    content: "";
    background: #1e201d;
    height: 16px;
    width: 2px;
    position: absolute;
    border: 10px;
    top: 50%;
}
.close::before {
    transform: translateY(-50%) rotate(45deg);
}
.close::after {
    transform: translateY(-50%) rotate(-45deg);
}

/* Scroll-top */
.scroll-top {
    position: fixed;
    bottom: -50px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #096827;
    z-index: 1000;
    outline: none;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.1s;
}
.scroll-top::after {
    content: "";
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.scroll-top.active {
    bottom: 20px;
}
.scroll-top:hover {
    opacity: 1;
}

/* Popup */
.popup {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}
.popup-checkout .popup__title {
    text-align-last: left;
    margin-bottom: 50px;
}
.popup-review .popup__title {
    text-align: left;
    margin-bottom: 50px;
}
.popup-review .popup__button {
    max-width: 248px;
    width: 100%;
    margin-top: 24px;
}
.popup.is-active {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}
.popup__wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
.popup__inner {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}
.popup__content {
    padding: 58px 52px 60px 60px;
    max-width: 790px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}
.popup__content--checkout2 {
    max-width: 412px;
    padding: 41px 26px 50px 23px;
}
.popup__header--review {
    position: relative;
    padding: 37px 16px 9px 126px;
}
.popup__photo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    flex: 0 0 90px;
    width: 90px;
    padding: 10px;
}
.popup__title {
    font-size: 30px;
    text-align: center;
    font-family: "Montserrat-300";
    margin-bottom: 20px;
}
.popup__title span {
    font-family: "Montserrat-600";
}
.popup__block {
    font-size: 16px;
    margin-bottom: 20px;
}
.popup__name {
    font-family: "Montserrat-700";
}
.popup__text {
    color: rgba(0, 0, 0, 0.8);
}
.popup__item {
    position: relative;
    padding-left: 100px;
}
.popup__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.popup__left {
    max-width: 320px;
    width: 100%;
    margin-right: 20px;
}
.popup__img-wrapper {
    position: absolute;
    top: -20px;
    left: 0;
    flex: 0 0 79px;
    width: 79px;
    padding: 10px;
}
.popup__img {
    height: 90px;
}
.popup__label {
    letter-spacing: 0.09em;
    font-family: "Montserrat-600";
    margin-bottom: 20px;
}
.popup__right {
    display: flex;
    align-items: center;
    font-family: "Montserrat-600";
    white-space: nowrap;
}
.popup-col {
    text-align: center;
    margin-right: 40px;
}
.popup-col:last-child {
    margin-right: 0;
}
.popup-col__text {
    margin: 5px 0 15px;
}
.popup-col__count {
    font-size: 16px;
}
.popup-col__sum {
    font-size: 18px;
}
.popup-line {
    display: flex;
    align-items: baseline;
    font-size: 12px;
}
.popup-line__text {
    font-family: "Montserrat-600";
    margin-right: 50px;
}
.popup-line__weight {
    color: #3f3f3f;
}
.popup__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.popup__link {
    display: inline-block;
    opacity: 0.75;
    white-space: nowrap;
    border-bottom: 1px solid #000;
    margin-right: 20px;
}
.popup__button {
    max-width: 200px;
    width: 100%;
}
.popup-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.popup-row__img-wrapper {
    flex: 0 0 56px;
    width: 56px;
    padding: 7px;
}
.popup-row__img {
    height: 64px;
}
.popup-row__label {
    font-size: 12px;
    letter-spacing: 0.09em;
}
.popup-row__count,
.popup-row__sum {
    text-transform: uppercase;
    font-family: "Montserrat-600";
    white-space: nowrap;
    margin-left: 30px;
}
.popup-box {
    font-size: 16px;
    font-family: "Montserrat-600";
    white-space: nowrap;
    margin-right: 20px;
}
.popup-box__sum {
    font-size: 18px;
    text-transform: uppercase;
}
.popup__sell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.popup__descr {
    font-size: 12px;
    line-height: 1.8;
    text-align: center;
    font-family: "Montserrat-600";
}
.popup__form {
    padding-left: 126px;
}
@media (max-width: 767px) {
    .popup__content {
        padding: 40px 30px;
    }
    .popup-checkout .popup__title {
        font-size: 24px;
        text-align-last: center;
        margin-bottom: 30px;
    }
    .popup__content--checkout {
        max-width: 450px;
    }
    .popup__top {
        display: block;
        margin-bottom: 20px;
    }
    .popup-review .popup__title {
        font-size: 22px;
        margin-bottom: 35px;
    }
}
@media (max-width: 567px) {
    .popup__inner {
        padding: 10px;
    }
    .popup__content {
        padding: 30px 20px;
    }
    .popup__title {
        font-size: 24px;
    }
    .popup__block {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .popup__header--review {
        padding: 37px 16px 9px 80px;
    }
    .popup__photo-wrapper {
        flex: 0 0 70px;
        width: 70px;
        padding: 7px;
    }
    .popup-review .popup__title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .popup-review .rating__inner--big {
        font-size: 16px;
    }
    .popup__form {
        padding-left: 80px;
    }
}
@media (max-width: 413px) {
    .popup__content {
        padding: 30px 10px;
    }
    .popup-checkout .popup__title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .popup__line {
        display: block;
        text-align: center;
        margin-top: 30px;
    }
    .popup__line .popup__button {
        margin: 0 auto;
    }
    .popup__link {
        margin-bottom: 23px;
        margin-right: 0;
    }
    .popup__img-wrapper {
        flex: 0 0 56px;
        width: 56px;
        top: -5px;
        padding: 7px;
    }
    .popup__img {
        height: 64px;
    }
    .popup__item {
        padding-left: 60px;
    }
    .popup__label {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .popup-col {
        display: flex;
        align-items: baseline;
        margin-right: 20px;
    }
    .popup-line__text {
        margin-right: 15px;
    }
    .popup-col__text {
        font-size: 10px;
        margin-right: 5px;
    }
    .popup-col__count,
    .popup-col__sum {
        font-size: 10px;
    }
    .popup__top {
        margin-bottom: 0;
    }
    .popup__button .btn--black span {
        width: 86px;
        overflow: hidden;
    }
    .popup-row__label {
        font-size: 10px;
    }
    .popup-row__count,
    .popup-row__sum {
        margin-left: 22px;
    }
    .popup-box__text {
        font-size: 12px;
        line-height: 1.8;
    }
    .popup__sell {
        margin-top: 20px;
    }
    .popup__header--review{
        padding: 15px 0px 10px 60px;
    }
    .popup__photo-wrapper {
        flex: 0 0 56px;
        width: 56px;
        top: 0;
    }
    .popup-review .popup__title {
        font-size: 14px;
    }
    .popup__form {
        padding-left: 0;
    }
}

/* Tабы */
.tabs__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.tabs__name {
    font-size: 30px;
    font-family: "Montserrat-300";
    margin: 0 30px;
    cursor: pointer;
}
.tabs__name.is-active {
    font-family: "Montserrat-600";  
}
.tabs__body {
    font-size: 12px;
    text-align: center;
}
.tabs__body .form__button {
    margin: 23px auto;
}
.tabs__item {
    display: none;
}
.tabs__item.is-active {
    display: block;
}
.tabs__descr {
    font-family: "Montserrat-600";  
    margin: 20px 0;
}
.tabs-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs-list__item {
    margin: 0 5px;
}
.tabs-list__icon {
    font-size: 34px;
}
.tabs__text {
    margin-top: 20px;
}
.tabs__nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs__label {
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 30px;
}
.tabs__label.is-active {
    font-family: "Montserrat-700";  
}
.tabs__block {
    display: none;
}
.tabs__block.is-active {
    display: block;
}
@media (max-width: 567px) {
    .tabs__name {
        font-size: 25px;
        margin: 0 25px;
    }
    .tabs__label {
        margin: 0 20px;
    }
}
@media (max-width: 413px) {
    .tabs__name {
        font-size: 20px;
        margin: 0 20px;
    }
    .tabs__label {
        margin: 0 12px;
    }
}